@font-face {
  font-family: 'Nunito';
  src: url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&family=Oswald:wght@200&family=Pacifico&family=Source+Sans+Pro:wght@400;700&display=swap');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
  background-color: #fff;
  font-family: 'Nunito';
}

.header {
  /* height: 80px; */
  width: 100vw;
  border-bottom: 1px solid #edeef2;
  position: fixed;
  padding: 20px 15px;
  display: flex;
  justify-content: space-between;
}

.logo-text {
  display: flex;
  flex-direction: column;
}
.logo-text p {
  font-size: 20px;
  font-weight: 1000;
}

.color-blue {
  color: #4e60ff;
}

.color-dark {
  color: #2b2b43;
}

.header-items {
  display: flex;
}

.header-items-cart {
  position: relative;
  background-color: #f3f4ff;
  width: 48px;
  height: 48px;
  border-radius: 16px;
  margin-right: 16px;
}

.header-items-cart-img-wrapper {
  width: 20px;
  height: 20px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.header-items-cart-count {
  position: absolute;
  width: 20px;
  height: 20px;
  right: 0;
  top: 0;
  transform: translate(50%, -50%);
  background-color: #4e60ff;
  border-radius: 8px;
}

.count-text {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-size: 10px;
  line-height: 14px;
}

.avatar-img {
  width: 48px;
  height: 48px;
}
.burger-menu {
  margin-left: 26px;
  position: relative;
  width: 44px;
  height: 44px;
}

.burger-menu-line {
  position: absolute;
  left: 30%;
  top: 30%;
}
.divider {
  height: 32px;
  position: absolute;
  margin-left: 11px;
  margin-top: 8px;
  background-color: #edeef2;
}

.main {
  height: 333px;
  width: 330px;
  background-color: #f3f4ff;
  position: absolute;
  margin-top: 100px;
  margin-left: 32px;
  border-radius: 16px;
}
.main-text {
  display: flex;
  justify-content: space-between;
  padding: 16px 16px 8px 16px;
  line-height: 28px;
  letter-spacing: 0.1px;
  font-weight: 600;
  font-family: 'Nunito';
}
.main-text h5 {
  font-size: 20px;
  color: #2b2b43;
}
.main-text span {
  font-size: 14px;
  letter-spacing: 0.1px;
  color: #83859c;
}
.main-text-h2 h2 {
  font-size: 40px;
  line-height: 56px;
  letter-spacing: 0.1px;
  font-weight: 800;
  color: #4e60ff;
  margin-left: 16px;
}
.main-photo-container {
  position: relative;
  width: 330px;
  height: 200px;
  position: absolute;
}

.main-photo-container img {
  position: absolute;
  height: 224px;
  left: 10px;
}
